.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14171c;
  color: #c1c7d1;
  position: relative;
}

.clock {
  max-width: 15rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.clock__time {
  grid-column: 1 / 5;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  font-variant-numeric: tabular-nums;
}

.clock__icon {
  margin: auto;
  font-size: 2rem;
  padding: 0.6rem;
  color: #c1c7d1;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.ph-play,
.ph-pause {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.ph-arrow-counter-clockwise {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}

.container__settings {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3.2rem;
  cursor: pointer;
}
