<div class="wrapper" [style.backgroundColor]="currentSettings.bgColor">
  <div
    class="container"
    [style.minWidth]="5 * currentSettings.fontSize + 'rem'"
  >
    <h1
      [style.fontSize]="currentSettings.fontSize + 'rem'"
      [style.color]="currentSettings.fontColor"
      [style.fontWeight]="currentSettings.fontWeight"
    >
      {{ currentSettings.hr | twodigit }}:{{
        currentSettings.min | twodigit
      }}:{{ currentSettings.sec | twodigit }}
    </h1>

    <i
      *ngIf="!running"
      [style.fontSize]="currentSettings.fontSize * 0.66 + 'rem'"
      [style.color]="currentSettings.fontColor"
      class="ph-play icon hover"
      [ngClass]="{ hover: currentSettings.bgColor === '#111827' }"
      (click)="start()"
    ></i>
    <i
      *ngIf="running"
      [style.fontSize]="currentSettings.fontSize * 0.66 + 'rem'"
      [style.color]="currentSettings.fontColor"
      class="ph-pause icon hover"
      [ngClass]="{ hover: currentSettings.bgColor === '#111827' }"
      (click)="stop()"
    ></i>
    <i
      [style.fontSize]="currentSettings.fontSize * 0.66 + 'rem'"
      [style.color]="currentSettings.fontColor"
      class="ph-arrow-counter-clockwise icon hover"
      [ngClass]="{ hover: currentSettings.bgColor === '#111827' }"
      (click)="clearValue()"
    ></i>
  </div>
  <i (click)="toggleSettings()" class="ph-gear settings"></i>
</div>
