<div class="wrapper" [style.backgroundColor]="settings.bgColor">
  <div class="container" [style.maxWidth]="5 * settings.fontSize + 'rem'">
    <h1
      [style.fontSize]="settings.fontSize + 'rem'"
      [style.color]="settings.fontColor"
      [style.fontWeight]="settings.fontWeight"
    >
      {{ settings.hr | twodigit }}:{{ settings.min | twodigit }}:{{
        settings.sec | twodigit
      }}
    </h1>
    <i
      *ngIf="!running"
      [style.fontSize]="settings.fontSize * 0.66 + 'rem'"
      [style.color]="settings.fontColor"
      class="ph-play icon"
      (click)="toggleMode()"
    ></i>
    <i
      *ngIf="running"
      [style.fontSize]="settings.fontSize * 0.66 + 'rem'"
      [style.color]="settings.fontColor"
      class="ph-pause icon"
      (click)="toggleMode()"
    ></i>
    <i
      [style.fontSize]="settings.fontSize * 0.66 + 'rem'"
      [style.color]="settings.fontColor"
      class="ph-arrow-counter-clockwise icon"
    ></i>
  </div>
  <i (click)="toggleSettings()" class="ph-gear settings"></i>
</div>
