.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.wrapper__padbox {
  width: 80vw;
  height: 100vh;
}

.wrapper__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  height: 100vh;
  width: 25vw;
  background-color: #1e232a;
  z-index: 2;
  font-size: 1.6rem;
  color: #d1d5dc;
}

.container__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3.2rem;
  z-index: 1;
  cursor: pointer;
}

.container__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.form__toggle {
  display: flex;
  justify-content: center;
  gap: 3.6rem;
}

.form__toggle i {
  margin-bottom: 4.2rem;
  background-color: #c1c7d1;
  color: #323a46;
  border-radius: 50%;
  font-size: 4.2rem;
  padding: 1.8rem;
  cursor: pointer;
  box-shadow: 0 0 0.4rem #1e232a;
}

.form__toggle .form__toggle--active {
  background-color: #323a46;
  color: #c1c7d1;
}

.form__toggle i:not(.form__toggle--active):hover {
  background-color: #64748b;
  color: #1e232a;
}

.form__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  gap: 0.4rem;
  height: 4.2rem;
}

.form__group__label {
  font-weight: 600;
}

.form__control {
  padding: 0.4rem;
  outline: none;
  border-radius: 8px;
  width: 15rem;
  overflow: hidden;
}

.form__group--value {
  display: flex;
  gap: 0.75rem;
}

.form__control--value {
  width: 4.5rem;
}

.form__buttons {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.buttons__button {
  padding: 0.6rem 1.8rem;
  font-size: 2.4rem;
  border-radius: 8px;
  background-color: #c1c7d1;
  color: #323a46;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttons__button:hover {
  background-color: #64748b;
  color: #1e232a;
}

input.ng-touched.ng-invalid {
  box-shadow: 0 0 0.4rem 0.2rem #a85f5f;
}

.control--color {
  background-color: transparent;
  padding: 0;
  height: 1.8rem;
  cursor: pointer;
}

.control--drag {
  cursor: grab;
}

/***************************************/
/* BELOW 1920px  (Regular desktop)*/
/***************************************/

@media (max-width: 120em) {
  .form__toggle i {
    font-size: 2.8rem;
    padding: 1.2rem;
    margin-bottom: 1.2rem;
  }

  .buttons__button {
    padding: 0.4rem 1.2rem;
  }
}

/***************************************/
/* BELOW 1440p (Large laptop) */
/***************************************/

@media (max-width: 90em) {
  .wrapper__container {
    width: 25vw;
  }

  .container__close {
    top: 1.2rem;
    right: 1.2rem;
    font-size: 2.4rem;
  }

  .form__toggle {
    gap: 1.2rem;
  }

  .form__toggle i {
    font-size: 2.4rem;
    padding: 0.6rem;
    margin-bottom: 0.4rem;
  }

  .form__buttons {
    gap: 0.8rem;
  }

  .buttons__button {
    font-size: 1.8rem;
  }

  .container__form {
    gap: 0.4rem;
  }

  .form__group__label {
    font-size: 1.2rem;
  }

  .form__group {
    gap: 0;
  }

  .form__control {
    width: 12rem;
  }

  .form__control--value {
    width: 3.5rem;
  }
}

/***************************************/
/* BELOW 1024px (Small Laptop)*/
/***************************************/

@media (max-width: 64em) {
  .wrapper__container {
    width: 35vw;
  }

  .container__form {
    gap: 0;
  }

  .control--drag {
    padding: 0;
  }

  .form__group {
    height: 3.6rem;
  }

  .form__buttons {
    margin-top: 0.8rem;
  }
}

/***************************************/
/* BELOW 768px (Mobile)*/
/***************************************/

@media (max-width: 48em) {
  .wrapper__container {
    width: 100vw;
  }
}
