<div class="wrapper" @openClose *ngIf="open">
  <div class="wrapper__padbox" (click)="toggleState()"></div>
  <div class="wrapper__container">
    <i class="ph-x container__close" (click)="toggleState()"></i>

    <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="container__form">
      <div class="form__toggle">
        <i
          class="ph-caret-double-up form__toggle--active mode"
          (click)="toggleMode(false)"
        ></i>
        <i class="ph-caret-double-down mode" (click)="toggleMode(true)"></i>
      </div>

      <div class="form__group">
        <label class="form__group__label">Start</label>
        <div class="form__group--value">
          <input
            type="number"
            class="form__control form__control--value"
            ngModel
            required
            ValidTime
            min="0"
            max="60"
            name="hr"
          />
          <input
            type="number"
            class="form__control form__control--value"
            ngModel
            required
            ValidTime
            min="0"
            max="60"
            name="min"
          />
          <input
            type="number"
            class="form__control form__control--value"
            ngModel
            required
            ValidTime
            min="0"
            max="60"
            name="sec"
          />
        </div>
      </div>

      <div class="form__group">
        <label class="form__group__label" for="fontsize">Fontsize</label>
        <input
          type="range"
          class="form__control control--drag"
          ngModel
          required
          validFontSize
          min="0"
          step="1"
          max="8"
          name="fontSize"
        />
      </div>

      <div class="form__group">
        <label class="form__group__label" for="fontweight">Fontweight</label>
        <input
          type="range"
          class="form__control control--drag"
          ngModel
          required
          validFontWeight
          min="100"
          max="900"
          step="100"
          name="fontWeight"
          pattern="^[1-9]+[0-9]*$"
        />
      </div>

      <div class="form__group">
        <label class="form__group__label" for="fontcolor">Fontcolor</label>
        <input
          type="color"
          class="form__control control--color"
          ngModel
          required
          validColor
          name="fontColor"
          value="test"
        />
      </div>

      <div class="form__group">
        <label class="form__group__label" for="bgcolor">Background</label>
        <input
          type="color"
          class="form__control control--color"
          ngModel
          required
          validColor
          name="bgColor"
        />
      </div>

      <div class="form__buttons">
        <button type="button" (click)="openPiP()" class="buttons__button">
          <i class="ph-picture-in-picture"></i>
        </button>
        <button class="buttons__button" type="submit">
          <i class="ph-floppy-disk"></i>
        </button>
        <button class="buttons__button" type="button">
          <i class="ph-arrow-counter-clockwise" (click)="resetSettings()"></i>
        </button>
      </div>
    </form>
  </div>
</div>

<canvas height="200" width="300" style="display: none"></canvas>
<video autoplay muted style="display: none"></video>
