<div class="wrapper">
  <div class="container">
    <i class="ph-x close"></i>
    <form>
      <div class="toggle-mode">
        <i class="ph-caret-double-up"></i>
        <i class="ph-caret-double-down"></i>
      </div>

      <div class="value-group">
        <label>Clock Values</label>
        <input type="number" class="form-control" />
        <input type="number" class="form-control" />
        <input type="number" class="form-control" />
      </div>

      <div class="form-group">
        <label for="fontsize">Fontsize</label>
        <input type="number" class="form-control" />
      </div>

      <div class="form-group">
        <label for="fontcolor">Fontcolor</label>
        <input type="number" class="form-control" />
      </div>

      <div class="form-group">
        <label for="fontweight">Fontweight</label>
        <input type="number" class="form-control" />
      </div>

      <div class="form-group">
        <label for="bgcolor">Background color</label>
        <input type="text" class="form-control" />
      </div>

      <button type="button">Popout</button>
    </form>
  </div>
</div>
