<div class="wrapper" @openClose *ngIf="open">
  <div class="padbox" (click)="toggleState()"></div>
  <div class="container">
    <i class="ph-x close" (click)="toggleState()"></i>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="toggle-mode">
        <i
          class="ph-caret-double-up active mode"
          (click)="toggleMode(false)"
        ></i>
        <i class="ph-caret-double-down mode" (click)="toggleMode(true)"></i>
      </div>

      <div class="value-group">
        <label>Initial values</label>
        <input
          type="number"
          class="form-control"
          ngModel
          required
          ValidTime
          min="0"
          max="60"
          name="hr"
        />
        <input
          type="number"
          class="form-control"
          ngModel
          required
          ValidTime
          min="0"
          max="60"
          name="min"
        />
        <input
          type="number"
          class="form-control"
          ngModel
          required
          ValidTime
          min="0"
          max="60"
          name="sec"
        />
      </div>

      <div class="form-group">
        <label for="fontsize">Fontsize</label>
        <input
          type="number"
          class="form-control"
          ngModel
          required
          validFontSize
          min="0"
          max="8"
          name="fontSize"
        />
      </div>

      <div class="form-group">
        <label for="fontweight">Fontweight</label>
        <input
          type="number"
          class="form-control"
          ngModel
          required
          validFontWeight
          min="100"
          max="900"
          step="100"
          name="fontWeight"
          pattern="^[1-9]+[0-9]*$"
        />
      </div>

      <div class="form-group">
        <label for="fontcolor">Fontcolor</label>
        <input
          type="text"
          class="form-control"
          ngModel
          required
          validColor
          name="fontColor"
          value="test"
        />
      </div>

      <div class="form-group">
        <label for="bgcolor">Background color</label>
        <input
          type="text"
          class="form-control"
          ngModel
          required
          validColor
          name="bgColor"
        />
      </div>

      <div class="buttons">
        <button type="button" (click)="openPiP()">
          <i class="ph-picture-in-picture"></i>
        </button>
        <button type="submit"><i class="ph-floppy-disk"></i></button>
        <button type="button">
          <i class="ph-arrow-counter-clockwise" (click)="resetSettings()"></i>
        </button>
      </div>
    </form>
  </div>
</div>

<canvas height="200" width="300" style="display: none"></canvas>
<video autoplay muted style="display: none"></video>
